body{
    background-color: salmon;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    
    background-color: rgb(245, 158, 112);
    padding: 25px;
    box-shadow: 6px 6px 9px rgba(255, 255, 255,0.3);
}